main {
  background-image: url("../assets/stable-orbit--longhaul-frigate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  justify-content: space-between;
}

.designation,
.reputation {
  display: flex;
  flex-direction: column-reverse;
  min-width: 50%;
}

select[class="grey"] {
  color: red;
}

.upgrades {
  display: flex;
  justify-content: space-between;
}