main {
  background-image: url("../assets/stable-orbit--longhaul-frigate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  justify-content: space-between;
}

.designation,
.reputation {
  display: flex;
  flex-direction: column-reverse;
  min-width: 50%;
}

.shipInfo {
  label {
    font-size: 0.7rem;
  }
}

.coloursLook {
  label {
    display: inline-block;
    width: 15%;
  }
  input {
    width: 85%;
  }
}

.systems p {
  color: red;
}

.upgrades {
  display: flex;
  justify-content: space-between;
}