.flex {
  display: flex;
  // border: 2px solid red;
}

// iPad Landscape
@media (max-width: 1100px) {

  .grid {
    grid-template-columns: repeat(2, 1fr);
    .gridBox {
      display: flex;
      grid-column-end: span 2;
      position: relative;
      .credDebt {
        margin-left: 10px;
      }
      section.crew {
        position: absolute;
        left: 0;
        bottom: 0;

      }
    }
  }
  
  .upgrades {
    flex-wrap: wrap;
  }

}

// iPad Portait
@media (max-width: 850px) {

  .wrapper {
    flex-direction: column;
    margin-bottom: 20px;
    main,
    aside {
      width: 100%;
    }
  }
  
  .grid {
    grid-template-columns: repeat(3, 1fr);
    .gridBox {
      display: inline-block;
      grid-column-end: span 1;
      // justify-content: space-around;
      position: relative;
      .credDebt {
        margin-left: 10px;
      }
      section.crew {
        position: static;
        left: auto;
        bottom: auto;

      }
    }
  }

}

// Phone Landscape
@media (max-width: 700px) {

  header {
    h1 {
      max-width: 500px;
      span {
        display: none;
      }
    }
    p {
      max-width: 150px;
      br {
        display: none;
      }
    }
  }

  .shipInfo div .faded {
    opacity: 0.1;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    .gridBox {
      display: flex;
      grid-column-end: span 2;
      position: relative;
      .credDebt {
        margin-left: 10px;
      }
      section.crew {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

}

// Phone Portait
@media (max-width: 450px) {

  .mediaFlex {
    flex-direction: column;
  }

  header {
    h1 {
      font-size: 1.5rem;
    }
    p {
      max-width: 100%;
    }
  }
    
  .shipSize {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    .rules {
      grid-column-end: span 1;
    }
    .gridBox {
      display: inline-block;
      grid-column-end: span 1;
      position: relative;
      .credDebt {
        margin-left: 0;
      }
      section.crew {
        position: static;
        left: auto;
        bottom: auto;

      }
    }
  }

  .upgrades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .special {
      grid-column-end: span 2;
    }
  }

}