@import 'setup';
@import 'main';
@import 'aside';

@import url("https://fonts.googleapis.com/css2?family=Sarpanch:wght@500;700;900&family=Space+Grotesk:wght@400;700&display=swap");

/*
font-family: 'Sarpanch', sans-serif;
// heading font, 500, 700, 900
font-family: 'Space Grotesk', sans-serif;
// main font, 300, 700
*/

html {
  cursor: default;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 125%;
  // font-weight: 300;
  margin: 10px;
  input, select {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 0.8rem;
  }
  background-image: url("../assets/stable-orbit--longhaul-frigate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  width: 100%;
}

.App {
  background: rgba(255, 255, 255, 0.85);
}

.wrapper{
  margin: 0 auto;
  max-width: 1450px;
}

header {
  justify-content: space-around;
  align-items: center;
  .shipDesc {
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .rules {
    grid-column-end: span 2;
  }
}

img {
  max-height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  .light {
    font-weight: 500;
    text-transform: lowercase;
  }
}

.smallText,
.smallText li {
  font-size: 0.7rem;
}

.sectionHead {
  background-color: black;
  color: white;
}

h3,
label,
li,
p {
  font-size: 0.8rem;
}

ul, li, select {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radioButtons {
  // justify-content: space-between;
  width: 100%;
  input {
    margin-left: 5px;
  }
}

li, .contacts, .upgrades {
  label {
    font-family: 'Space Grotesk', sans-serif;
    text-transform: none;
  }
}

input, select {
  background: none;
  border: none;
  border-bottom: 1px solid lightgray;
}

input[type="checkbox"] {
  margin-right: 5px;
}
input[type="number"] {
  color: red;
}

.bold {
  font-weight: 700;
  text-decoration: underline;
  // text-shadow: 1px 1px yellow;
}

.listStyle,
.listStyle li {
  list-style: square;
  margin-left: 10px;
}

.column {
  flex-direction: column;
}

main {
  width: 60%;
}

aside {
  width: 40%;
}

section {
  // background: rgba(255, 255, 255, 0.75);
  // border: 1px solid palegreen;
  padding: 5px;
}

@import 'numberField';
@import 'booleanField';
@import 'mediaQueries';